@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Бла-бла-бла я бла-бла-бла не несу бла-бла-бла за ваши бла-бла-бла действия и ещё какие-то умные вещи бла-бла-бла</p>
